
.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1; /* Ensure the button is on top of the video */
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Avenir Next', sans-serif;
}

.back-button:hover {
    background-color: #ff007b;
}

.description {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #000000;
    z-index: 1;
    font-family: 'Avenir Next', sans-serif;
}

.description h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 300;
}

.description p {
    font-size: 18px;
}

.photos {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.photos img {
    max-width: 60%; /* Adjust the width as needed */
    height: auto;
    margin: 0 auto; /* Center the images horizontally */
    padding: 2rem 0; /* Add vertical padding */
}

.description3 {
    position: absolute;
    padding-top: 30rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-family: 'Avenir Next', sans-serif;
    font-size: 14px;
    padding-bottom: 10rem;

}
@media screen and (max-width: 768px) {
    .description, .photos {
        width: 90%; /* Adjust for smaller screens */
    }
}